* {
    box-sizing: border-box;
}

@mixin location($height,$width,$left,$top) {
    position: absolute;
    height: $height;
    width: $width;
    left: $left;
    top: $top;
}
@mixin graphics($background-color,$color,$font-family) {
    position: absolute;
    background-color: $background-color;
    color: $color;
    font-family: $font-family;
}
.frame{
    @include location(400px, 600px, 50%, 64px);
    margin-left: -300px;
}

.label{
    position: absolute;
    height: 48px;
    width: 130px;
    right: 16px;
    top: 8px;
}
.email,.picture{
    line-height: 48px;
    font-size: x-small;
    outline: none;
    color:$labelTextColor;
    text-decoration: none;
    padding-right: 8px;
    padding-left: 4px;
    &:hover{
        opacity: .85;
        text-decoration: underline;
    }
}

.application{
    @include location(40px, 40px,70%, 6%);
    &:hover{
        border-radius: 50%;
        background-color: $labelApplicationHoverColor;
    }
}
svg {
    @include location(20px, 20px,50%, 50%);
    margin-top: -11px;
    margin-left: -11px;
    fill:$labelSvgColor;
}
.searchButton{
    @include graphics($searchButtonBackgroundColor,$searchButtonTextColor,Arial);
    padding: 5px;
    width: 85px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    top:80%;
    right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 2px 6px 0 $searchButtonShadowColor;
    &:hover{
        background-color: $searchButtonBackgroundHoverColor;
    }
}
.logo {
    @include location(196px, 550px, 50%, 20%);
    background-image: url("googlepng.png");
    background-repeat: no-repeat;
    margin-left: -(550px/2);
    margin-top: -70px;
    cursor: pointer;
}

.box {
    @include location(44px,584px,50%,65%);
    background-color:$boxBackgroundColor; 
    box-shadow: 0 1px 6px 0 $boxShadowColor;
    border-radius: 22px;
    line-height: 21px;
    margin-left: -292px;
    margin-top: -10px;
}

.box-icon {
    @include graphics($boxBackgroundColor,$iconColor,"icomoon");
    width: 24px;
    height: 24px;
    bottom: 0;
    top: 0;
    margin-left: 16px;
    margin-top: 12px;
}

.box-text {
    $font-family : 'Segoe UI', 'Roboto', arial, sans-serif;
    @include graphics($boxBackgroundColor,$textColor,$font-family);
    width: 500px;
    height: 44px;
    position: absolute;
    left: 40px;
    line-height: 44px;
    background-color:$boxBackgroundColor; 
    color:$textColor;
    font-size: 16px;
    border: none;
    outline: none;
}

.box-microphone {
    @include graphics($boxBackgroundColor,$microphoneColor,"icomoon");
    font-size: 18px;
    margin-right: 16px;
    border: none;
    cursor: pointer;
    bottom: 0;
    right: 0;
    top: 0;
}